<VirtualHost *:80>
    ServerName {{ domain_name }}
    ServerAdmin {{ server_admin }}
    DocumentRoot {{ document_root }}
    
    <Directory {{ document_root }}>
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    
    ErrorLog /var/www/{{ domain_name }}/logs/error.log
    CustomLog /var/www/{{ domain_name }}/logs/access.log combined
</VirtualHost>
